body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1%;
  }
  
h1 {
   font-family: 'Press Start 2P', cursive;
}
  
input {
   font-size: 1.2rem;
}
  
button {
    font-size: 1rem;
    background: white;
    border-style: none;
    padding: 0.25rem 0.4rem;
}
  
button:hover {
    background: purple;
    color: white;
}
  
span {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
}
  
#digiSearch {
    display: flex;
    align-items: center;
}
  
#digiContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    padding: 1rem;
    min-width: 350px;
    max-width: fit-content;
    min-height: 500px;
    max-height: fit-content;
    background: white;
    border-radius: 5px;
    color: black;
}
  
#random {
    border: 1px solid black;
    margin: 0.4rem;
    border-radius: 3px;
}